.Answers{
    background-color: #E5E5E5;
}

.Answers .container{
    padding:50px;
    display:flex;
    justify-content: space-between;
}

.Answers_info h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #231F20;
}

.accordion{
    width:700px;
}

 span{
        margin-right:15px; 
}

.item{
    margin-bottom:5px;
    padding: 10px 20px;
     cursor:pointer;
     display:flex;
    align-items: center;
    flex-direction: column;
       transition: all ease 0.3s;
}

.content{
    color:#000;
    max-height:0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1) ;
    
}

.show{
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(1,0,1,0) ;
}

.title{
    display:flex;
    align-items:center;
}

